---------------------------------------------------------------------
| Passo 1: Importar bibliotecas e carregar o dataset |
---------------------------------------------------------------------

# Importando bibliotecas necessárias

In [12]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
! pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.3.0-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.7-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-10.4.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
Using cached contourpy-1.3.0-cp312-cp312-win_amd64.whl (218 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   -------------------------------------- - 2.1/2.2 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 6.2 MB/s eta 0:00:00
Using cached kiwisolver-1.4.7-cp312-cp312-win_amd64.whl (55 kB)
Using cached pillow-10.4.0-cp312-cp312-win_amd64.whl (2.6 MB)
Using cached pyparsing-3.1.4-py3-none-any.whl (104 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-10.4.0 pyparsing-3.1.4

In [3]:
! pip install seaborn

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: pandas>=1.2 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

In [18]:
! pip install pandas numpy

Requirement already satisfied: pandas in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [19]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\ead\desktop\aulas pyhon leandro\aulas_ml\semana_machine_learning\.venv\lib\site-packages (from scikit-learn) (3.5.0)

In [20]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Carregar o dataset

In [30]:
data = pd.read_csv("datasets/Housing.csv")

-----------------------------------------------------------------
| Passo 2: Análise Exploratória de Dados (EDA) |
-----------------------------------------------------------------

In [28]:
data.columns

Index(['preço', 'área', 'quartos', 'banheiros', 'andares', 'via_principal',
       'quarto_de_hóspedes', 'porão', 'aquecimento_agua', 'ar_condicionado',
       'estacionamento', 'área_preferencial', 'status_mobiliado'],
      dtype='object')

In [31]:

# data = pd.DataFrame(columns=['price', 'area', 'bedrooms', 'bathrooms', 'stories',
#                           'mainroad', 'guestroom', 'basement', 'hotwaterheating',
#                          'airconditioning', 'parking', 'prefarea', 'furnishingstatus'])

In [34]:
#novos_nomes = {
#    'price': 'preço',
#    'area': 'área',
#    'bedrooms': 'quartos',
#    'bathrooms': 'banheiros',
#    'stories': 'andares',
#    'mainroad': 'via_principal',
#    'guestroom': 'quarto_de_hóspedes',
#    'basement': 'porão',
#    'hotwaterheating': 'aquecimento_agua',
#    'airconditioning': 'ar_condicionado',
#    'parking': 'estacionamento',
#    'prefarea': 'área_preferencial',
#    'furnishingstatus': 'status_mobiliado'}

In [35]:
data.rename(columns=novos_nomes, inplace=True)

In [36]:
data.columns

Index(['preço', 'área', 'quartos', 'banheiros', 'andares', 'via_principal',
       'quarto_de_hóspedes', 'porão', 'aquecimento_agua', 'ar_condicionado',
       'estacionamento', 'área_preferencial', 'status_mobiliado'],
      dtype='object')

# Visualizando as primeiras linhas do dataset

In [37]:
data.head()

,preço,área,quartos,banheiros,andares,via_principal,quarto_de_hóspedes,porão,aquecimento_agua,ar_condicionado,estacionamento,área_preferencial,status_mobiliado
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

# Visualizando as últimas linhas do DataSet

In [38]:
data.tail()

,preço,área,quartos,banheiros,andares,via_principal,quarto_de_hóspedes,porão,aquecimento_agua,ar_condicionado,estacionamento,área_preferencial,status_mobiliado
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

# Informações gerais do dataset

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   preço               545 non-null    int64
 1   área                545 non-null    int64
 2   quartos             545 non-null    int64
 3   banheiros           545 non-null    int64
 4   andares             545 non-null    int64
 5   via_principal       545 non-null    object
 6   quarto_de_hóspedes  545 non-null    object
 7   porão               545 non-null    object
 8   aquecimento_agua    545 non-null    object
 9   ar_condicionado     545 non-null    object
 10  estacionamento      545 non-null    int64
 11  área_preferencial   545 non-null    object
 12  status_mobiliado    545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

# Estatísticas descritivas

In [40]:
data.describe()

,preço,área,quartos,banheiros,andares,estacionamento
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

# Verificar valores nulos

In [41]:
data.isnull().sum()

preço                 0
área                  0
quartos               0
banheiros             0
andares               0
via_principal         0
quarto_de_hóspedes    0
porão                 0
aquecimento_agua      0
ar_condicionado       0
estacionamento        0
área_preferencial     0
status_mobiliado      0
dtype: int64

----------------------------------------------------------------------------
| Passo 3: Identificar variáveis quantitativas e qualitativas|
----------------------------------------------------------------------------

# Identificar variáveis quantitativas

In [42]:
quantitative_vars = data.select_dtypes(include=['int64', 'float64']).columns.tolist()
print("Variáveis Quantitativas:", quantitative_vars)

Variáveis Quantitativas: ['preço', 'área', 'quartos', 'banheiros', 'andares', 'estacionamento']

# Identificar variáveis qualitativas

In [43]:
qualitative_vars = data.select_dtypes(include=['object']).columns.tolist()
print("Variáveis Qualitativas:", qualitative_vars)

Variáveis Qualitativas: ['via_principal', 'quarto_de_hóspedes', 'porão', 'aquecimento_agua', 'ar_condicionado', 'área_preferencial', 'status_mobiliado']

# Criar uma tabela markdown explicando os tipos das variáveis

In [44]:
variaveis = quantitative_vars + qualitative_vars
tipos = ['Quantitativa'] * len(quantitative_vars) + ['Qualitativa'] * len(qualitative_vars)

# Encontrar o comprimento máximo para alinhamento
max_var_length = max([len(var) for var in variaveis])
max_type_length = max([len(tipo) for tipo in tipos])

# Criar a tabela formatada
tabela_markdown = f"| {'Variável'.ljust(max_var_length)} | {'Tipo'.ljust(max_type_length)} |\n"
tabela_markdown += f"| {'-' * max_var_length} | {'-' * max_type_length} |\n"

for var, tipo in zip(variaveis, tipos):
    tabela_markdown += f"| {var.ljust(max_var_length)} | {tipo.ljust(max_type_length)} |\n"

# Exibir a tabela
print(tabela_markdown)

| Variável           | Tipo         |
| ------------------ | ------------ |
| preço              | Quantitativa |
| área               | Quantitativa |
| quartos            | Quantitativa |
| banheiros          | Quantitativa |
| andares            | Quantitativa |
| estacionamento     | Quantitativa |
| via_principal      | Qualitativa  |
| quarto_de_hóspedes | Qualitativa  |
| porão              | Qualitativa  |
| aquecimento_agua   | Qualitativa  |
| ar_condicionado    | Qualitativa  |
| área_preferencial  | Qualitativa  |
| status_mobiliado   | Qualitativa  |