## Hello Word (Olá Mundo)

In [1]:
print('Olá Mundo')

Olá Mundo

## Para Comentários de Bloco usar 3 aspas

In [3]:
'''
Comentário de
Bloco
'''

'\nComentário de\nBloco\n'

## Para Comentários de Linha usar Jogo da Velha

In [2]:
# Comentários de Linha

## Declarando Variáveis

In [15]:
nome = 'Leandro'
idade = 37
peso = 57.0
altura = 1.70
estudante = True

print(nome, type(nome))
print(idade, type(idade))
print(peso, type(peso))
print(altura, type(altura))
print(estudante, type(estudante))

"""
print(type(nome))
print(type(idade))
print(type(peso))
print(type(altura))
print(type(estudante))
"""

Leandro <class 'str'>
37 <class 'int'>
57.0 <class 'float'>
1.7 <class 'float'>
True <class 'bool'>

'\nprint(type(nome))\nprint(type(idade))\nprint(type(peso))\nprint(type(altura))\nprint(type(estudante))\n'

## Convertendo Tipos de Dados

In [16]:
valor = 15
print('valor sem conversão', type(valor))
valor= str(valor)
print('segundo valor já convertido', type(valor))

valor sem conversão <class 'int'>
segundo valor já convertido <class 'str'>

## Concatenação

- Concatenação usando sinal de +, não conseguimos concatenar variáveis do tipo Int(Inteiro)

In [22]:
nome = 'Leandro Sousa'
idade = 37
altura = 1.70

# Modo 1

print('Olá meu nome é '+ nome + ' tenho '+ str(idade)+ 'anos de vida!')

# Modo 2

print('Olá meu nome é ', nome, 'tenho', idade, 'anos de vida!')

# Modo 3

print(f'Olá meu nome é {nome} e tenho {idade} anos de vida!')

Olá meu nome é Leandro Sousa tenho 37anos de vida!
Olá meu nome é  Leandro Sousa tenho 37 anos de vida!
Olá meu nome é Leandro Sousa e tenho 37 anos de vida!

## Entrada de Dados

In [23]:
nome = input("Digite seu nome: ")
print(nome)

Leandro

## Atividade

- Criar um sistema para receber o nome, idade, peso e altura do usuário
- Restringir a idade para receber somente valores inteiros
- Imprimir todas as informaçôes do usuário usando a concatenação f string
- Imprima o tipo de daod de cada uma das Váriáveis

In [26]:
nome = input('Digite o seu nome: ')

idade = int(input('Digite a sua idade: '))

peso = float(input('Digite o seu peso: '))

altura = float(input('Digite a sua altura'))

print(f'Olá meu nome é {nome, type(nome)} \ntenho {idade, type(idade)} \n e o peso {peso, type(peso)} \n{altura, type(altura)} é a minha altura' )

Olá meu nome é ('Leandro', <class 'str'>)
tenho (37, <class 'int'>)
 e o peso (57.2, <class 'float'>)
(1.7, <class 'float'>) é a minha altura